.home-container {
  // border: lightcoral solid 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 100%;
  width: 100%;

  &__item {
    border: lightcoral solid 1px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }
  &__float-in {
    width: auto;
    background-color: rgba(255, 255, 255, 0.2);
    position: absolute;
    z-index: 1;
    animation: slide-in 0.5s forwards;
    width: 30%;
    // right: 0;
  }
  &__float-out {
    width: auto;
    background-color: rgba(255, 255, 255, 0.2);
    position: absolute;
    z-index: 1;
    animation: slide-out 0.5s forwards;
    width: 30%;
  }
}

@keyframes slide-in {
  0% {
    left: 0%;
  }
  100% {
    left: -30%;
  }
}

@keyframes slide-out {
  0% {
    left: -30%;
  }
  100% {
    left: 0%;
  }
}

.float-toggler {
  // width: 20px;
  height: 30px;
  position: absolute;
  right: -30px;
  // background-color: black;
  & img {
    height: 30px;
    width: 30px;
    border: dashed lightgray 1px;
    transform: rotate(180deg);
  }
}
