.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  height: 50px;
  width: 100%;
  // border: solid 1px coral;
  background-color: rgba(0, 0, 0, 0.8);
  &__item {
    color: white;
    align-self: center;
    &__left {
      display: flex;
      width: 50%;
    }
    &__right {
      width: 50%;
      display: flex;
      justify-content: space-around;
    }
  }
}
